{
  "env": {
    "es6": true,
    "node": true
  },

  "parser": "babel-eslint",

  "plugins": [
  ],

  "extends": "airbnb",

  "rules": {
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0
  }
}
